{% extends "layout.twig" %}

{% block content %}

    <h1>Edit Todo List</h1>

    {% if messages %}
        <div class="alert alert-error">
        {% for message in messages %}
            {{ message | first }}
        {% endfor %}
        </div>
    {% endif %}

    <form class="form" action="{{ path_for('todo_lists.update', {id: todo_list.id}) }}" method="POST">
        <input type="hidden" name="_METHOD" value="PUT"/>
        {{ csrf_field() }}
        <fieldset class="form-group{% if flash_messages('error') %} form-error{% endif %}">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title" value="{{ todo_list.title }}">
        </fieldset>
        <div class="form-actions">
        </div>
        <input type="submit" class="btn btn-primary btn-block">
    </form>

    <p><a href="{{ path_for('todo_lists.index') }}">Back</a></p>

{% endblock %}
